body{
    /*cursor: url("images/imageedit_12_7042320203.png"), auto;*/
    background-color: black;
}
.main-contain{
    /*background-image:url("images/pyramid.jpg");*/
    background:url('images/pyramid.jpg') center center no-repeat;
    background-color: black;
}
.navbar{
    margin-bottom: 0 !important;
}
.main-head{
    background: rgba(251, 253, 255, 0.73);
    text-align: center;
    text-shadow: #dccdff 2px 2px;
}
.navigation-titles{
    color: greenyellow;
}
.navbar-inverse{
    color: greenyellow;
}
.gen-style{
    border:1px solid black;
    border-radius: 3px;
    height: 40vh;
    margin-top: 10px;
}
#main-info{
    margin-left: 10px;
}

/*#sc-search{*/
    /*width:90%*/
/*}*/
.w3-spin{
    display: inline-block;
}
.contain-secret{
    text-align: center;
    background:url('images/pyramid.jpg') center center no-repeat;
    height:90vh;
}
#secret{
    margin-top: 30vh;
}
.contain-player{
    text-align: right;
}
#main-info{
    height: 70vh;
}
#button2 , #submit {
    margin-top: 10px;
}
.scrollable{
    overflow-y:scroll;

}
.profile_container{
    border:1px solid black;
    border-radius: 3px;
    margin-top:10px;
}
.profile-row{
    padding-top: 10px;
}
.profile-header{
    text-align: right;
}
.middle-profile-row{
    text-align:center;
}
.button-style{
    margin:4px 3px;
}
/*------login data-------*/
.login-background{
    background:url('images/pyramid.jpg') center center no-repeat;
    height:90vh;

}
.login-inner{
    background: rgba(251, 253, 255, 0.73);
    text-align: center;
    text-shadow: #dccdff 2px 2px;
    height:90vh;
    width:100%;
    overflow:hidden;
}
.form-signin{
    padding-top: 10px;
}
/*.border{*/
    /*border:1px solid red;*/
/*}*/
/*---------logout-----------*/
.logout-title{
    margin-top:40vh;
}
/*----------edit profile---------*/
.edit_profile_container{
    color: #eaeaea;
    text-align: center;
    text-shadow: black 1px 1px;
    border:1px solid black;
    border-radius: 3px;
    background:url('images/pyramid.jpg') center center no-repeat;
    background-color: black;
    height:95vh;
}
.edit_profile_row{
    text-align: left;
    background: rgba(0, 39, 255, 0.53);
    padding-top: 10px;
}
#save_changes_btn{
    margin:10px 8px;
    color:black;
}

#upload-img-file{
    border:1px solid white;
    border-radius: 5px;
}
.change-img-row{
 margin-top: 10px;

}
.to-bottom{
    text-align: right;
    font-size: 4em;
}
#file_upload{
    display: inline-block;
}
.bottom-row{
    margin-bottom: 5vh;
}
.btn-to-bottom{
    font-size:3em;
}
.inputs{
    color:black;
}
.delete-acct{
    margin-top: 25px;
}
/*---------------user list-------------------*/
.user_list_style{
    background: rgba(227, 44, 255, 0.65);
    font-size: 1.3em;
    color: white;
}
.user_img_items{
    height:50px;
    width:50px;
    border-radius:40px;
    margin-right: 5px;
}
.img-list-style:hover{
    color: #03ddff;
    font-size:1.4em;
}
#display_user_list{
    list-style-type: none;
}
.user_header-row{
    color: white;
}
.img-list-style{
    margin:5px 25px 0 -10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom:3px;
}